/* Generic Stylesheet */

@font-face {
    font-family: "Zilla-Slab";
    src: url("/static/zilla-slab.ttf") format("truetype");
}

@font-face {
    font-family: "Archivo-Narrow";
    src: url("/static/archivonarrow.ttf") format("truetype");
}

body {
    font-family: Helvetica, Arial, "sans-serif";
    background: #F0E9EB;
    color: #4F0C21;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

a {
    color: #12C5B7;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: "Archivo-Narrow";
}

a:hover {
    text-decoration: underline;
}

body img {
    max-width: 95%;
    max-height: 700px;
}

header {
    background: #AB1F1F;
    color: #FFF1FD;
    padding: 1em 0.5em;
}

header h1 {
    font-family: "Zilla-Slab";
    font-size: 3em;
    margin-top: 0;
}

header h2 {
    font-size: 2em;
}

section#main h1 {
    font-size: 2em;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2em;
        text-align: center;
        margin-top: .5em;
        margin-bottom: .5em;
    }
    header h2 {
        text-align: center;
    }
}

header nav ul {
    padding-left: 0;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    text-decoration: none;
    margin: 0.3em;
    padding: 0.8em;
    color: #fff;
    background: #d96925;
}

header nav ul li a:hover {
    text-decoration: none;
    background: #d00;
}

footer {
    background: #AB1F1F;
    color: #FFF1FD;
    padding: 2em 0.5em;
    text-align: center;
}

section#main {
    margin: 0 2em;
}

section#main img {
    display: block;
    margin: 0.5em auto;
}

section.taglist {
    margin: 0.5em 0;
}

section.taglist a {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 0.3em;
    padding: 0.7em;
    color: #fff;
    background: #309eed;
    transition: 0.3s;
}

section.taglist a:hover {
    background: #87c7f5;
    text-decoration: none;
}

section.showcaser:after {
    visibility:hidden;
    content: '.';
    clear: both;
    display: block;
    height: 0;
}

section.navbuttons a {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 0.3em;
    padding: 0.7em;
    color: #fff;
    background: #309eed;
    transition: 0.3s;
}

img.preview {
    display: inline-block;
    float: left;
    max-width: 20%;
    max-height: 200px;
    margin-right: 5px;
}

section.model {
    display: inline-block;
    max-width: 30%;
}

section.model img {
    max-height: 300px;
    display: block;
}

section#main > h2, section#main > h3 {
    text-align: center;
}

@media screen and (min-width: 601px) {
    img.logo {
        height: 200px;
        float: right;
    }
}

@media screen and (max-width: 600px) {
    img.logo {
        height: 100px;
        float: none;
        display: block;
        margin: auto;
    }
    header h2 {
        font-size: 1.5em;
    }
}

/* ads */
section#main div.ads img {
    display: inline-block;
}

section#main div.ads {
    text-align: center;
}
